.cards
  width: 720px

  ul&
    margin: 0

.card
  +inline_block
  +rounded_corners(6px)

  border: 1px solid black
  height: 210px
  margin: 2px
  padding: 3px
  position: relative
  width: 150px

  &:hover
    border: 2px solid green
    padding: 2px

  .text
    font-size: 16px
    line-height: 20px
    margin: 6px

  .ability
    &.attack
      line-height: 16px
      .channel
        +rounded_corners(8px)
        border: 1px solid black
        height: 18px
        margin-bottom: 6px
        padding: 2px
        position: relative
        .cost
          position: absolute
          top: 2px
          right: 6px
        .damage
          /border: 1px solid black
          height: 16px
          position: absolute
          text-align: center
          top: 3px
          left: 5px
          width: 16px

  .graphic
    border: 1px solid black
    height: 80px
    margin: 6px
    margin-top: 0px
    padding: 2px
    width: 136px

  .title
    font-size: 16px
    font-weight: bold
    margin: 6px
    margin-bottom: 0px
    margin-top: 0px

  .stars
    position: absolute
    right: 5px
    top: 3px
